
<header class="flex items-center px-4 py-2 bg-gray-100 ">
  <img
    src="/images/logo.png"
    width="70"
    alt="Daily Dev Tips Logo"
  />
  <p class="mx-auto font-mukta text-xl">A PLACE TO CALM <strong>YOUR MIND</strong></p>
</header>
