<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nidra Online</title>

    <link rel="stylesheet" type="text/css" href="css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<body>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="left">
                    <h1 class="mb-0"><a href="index.html">Nidra Online</a></h1>
                    <%= inspect(@incoming_params) %>
                </div>
                <div class="right">
                    <p class="mb-0">A resource for deepening your relationship to your mind, your rest, and your inner life.</p>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="container2">
            <hr>
        </div>
    </div>

    <div class="section-01">
        <div class="container">
            <p class="text-center">How long would you like to practice?</p>
            <p class="fs-14 text-center">page 1 of 2</p>
            <br>
            <br>
            <br>
            <div class="row">
                <div class="col text-center">
                    <a href="page3.html" class="btn1">Short - 1 to 5mins</a>
                </div>

                <div class="col text-center">
                    <a href="#" class="btn1">5 to 10 mins</a>
                </div>

                <div class="col text-center">
                    <a href="#" class="btn1">15 mins</a>
                </div>

                <div class="col text-center">
                    <a href="#" class="btn1">25 - 30 mins</a>
                </div>

                <div class="col text-center">
                    <a href="#" class="btn1">30 - 45 mins</a>
                </div>

                <div class="col text-center">
                    <a href="#" class="btn1">45 mins to 1 hour</a>
                </div>

                <div class="col text-center">
                    <a href="#" class="btn1">1 hour</a>
                </div>

                <div class="col text-center">
                    <a href="#" class="btn1">1.5 hour</a>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom">
        <div class="container2">
            <p class="mb-0 text-center"><a href="index.html"><i class="fa-solid fa-arrow-left-long"></i> &nbsp; Take me back</a></p>
        </div>
    </div>
</body>
</html>
