<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Nidra Online</title>

    <link rel="stylesheet" type="text/css" href="css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<body>
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="left">
                    <h1 class="mb-0"><a href="index.html">Nidra Online</a></h1>
                </div>
                <div class="right">
                    <p class="mb-0">A resource for deepening your relationship to your mind, your rest, and your inner life.</p>
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="container2">
            <hr>
        </div>
    </div>

    <div class="section-01">
        <div class="container2">
            <p class="text-center">Your practice is ready! </p>
            <% string = "You have chosen a " <>
                case @incoming_params["choice1"] do
                    "therapy" -> "therapeautic practice."
                    "nidra" -> "deep rest practice."
                    "scan" -> "body scan practice"
                    "defocus" -> "recharging through de-focusing."
                    "refocus" -> "recharging through re-focusing."
                    "hypnosis" -> "self-hypnosis practice."
                    "visualization" -> "visualization practice."
                    "random" -> "surprise practice :)."
                                        _ -> "practice."
                    end
                    <> " It will take you " <>

                case @incoming_params["time"] do
                    "shortest" -> "less than five minutes."
                    "short" -> "between 5 and 10 minutes."
                    "15mins" -> "just 15 minutes."
                    "30mins" -> "about half an hour."
                    "45mins" -> "15 minutes."
                    "1hr" -> "one full hour."
                    "15" -> "one and a half hours."
                    _ -> "whatever time it takes you to complete."
                                        end

                    <> " You will enjoy " <>

                     case @incoming_params["background"] do
                    "silence" -> "perfect silence in the background."
                    "music" -> "some nice background music."
                    "ambient" -> "virtual surround, 8D ambient sounds (headphones required)."
                    "binauralbeats" -> "binaural beats for brain entrainment (headphones required)."
                     _ -> "a surprise background soundtrack feature."
                  end  %>
            <p class="text-center"><%= string %></p>
            <p>Shut off all distractions. May you benefit from this practice.</p>
                <audio controls src="http://localhost/playlist.m3u8">
                    Your browser does not support the <code>audio</code> element.
                </audio>
            <br>
            <br>
            <br>

            <div class="text-center">
                <img src="play-icon2.png" alt="" style="width: 100px;">
            </div>

            <br>
            <br>
            <br>

            <p class="text-center">Did you enjoy or benefit from this practice? <br>
                Provide a voluntary donation and you will receive this very mediation in your inbox.</p>

            <form class="form1" style="width: 380px;margin: auto;margin-top: 15px;">
                <div class="form-row">
                    <div class="form-col text-center">
                        <input type="text" placeholder="Name" class="form-control">
                    </div>

                    <div class="form-col text-center">
                        <input type="text" placeholder="email" class="form-control">
                    </div>
                </div>
                <br>
                <div class="text-center">
                    <a href="#" class="btn2">Donate & Receive</a>
                </div>
            </form>

            <br>
            <br>

            <p class="text-center">There is too much tension in the world, so consider telling others about this page.</p>

            <div class="social">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
            </div>

        </div>
    </div>
</body>
</html>
